:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

.App {
  text-align: center;
  max-width: 55vw;
  margin: 0 auto;
}

.flow-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: var(--s5);
  grid-row-gap: var(--s3);
}

.flow-layout> :nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.flow-layout> :nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
}

.flow-layout> :nth-child(3) {
  grid-area: 3 / 1 / 4 / 2;
}

.flow-layout> :nth-child(4) {
  grid-area: 2 / 2 / 3 / 3;
}

.stock {
  --capability-colour: green;
  --capability-hover-colour: darkgreen;
  --feature-colour: blue;
  --feature-hover-colour: darkblue;
  --font-colour-light: #fff;
  --font-colour-dark: #000;

  background-color: var(--background-colour);
  color: var(--font-colour-light);
  padding: var(--s1);
  font-size: var(--s0);
}

.stock:hover {
  cursor: pointer;
  background-color: var(--capability-hover-colour);
}

.stock--capability {
  background-color: var(--capability-colour);
}

.stock--capability:hover {
  cursor: pointer;
  background-color: var(--capability-hover-colour);
}

.stock--feature {
  background-color: var(--feature-colour);
}

.stock--feature:hover {
  cursor: pointer;
  background-color: var(--feature-hover-colour);
}