:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --capability-colour: darkslategrey;
  --feature-colour: royalblue;
  --infrastructure-colour: darkorchid;
  --customer-satisfaction-colour: darkslateblue;
  --font-colour-light: #fff;
  --font-colour-dark: #000;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  /* max-width: 60vw; */
  padding: 0rem 3rem;
  margin: 0 auto;
}

.overview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.overview > * + * {
  margin-top: var(--s0);
}

.overview > * {
  margin-top: 0;
  margin-bottom: 0;
}

.overview p {
  padding: var(--s-1) 0;
}

.overview__capability {
  color: var(--capability-colour);
}

.overview__feature {
  color: var(--feature-colour);
}

.overview__infrastructure {
  color: var(--infrastructure-colour);
}

.overview__customer-satisfaction {
  color: var(--customer-satisfaction-colour);
}

.flow-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: var(--s5);
  grid-row-gap: var(--s2);
}

.flow-layout > :nth-child(1) {
  grid-area: 1 / 2 / 2 / 2;
}

.flow-layout > :nth-child(2) {
  grid-area: 2 / 1 / 2 / 2;
}

.flow-layout > :nth-child(3) {
  grid-area: 2 / 2 / 2 / 2;
}

.flow-layout > :nth-child(4) {
  grid-area: 2 / 3 / 3 / 3;
}

.stock {
  background-color: var(--background-colour);
  color: var(--font-colour-light);
  padding: var(--s1);
  font-size: var(--s0);
  border: none;
  border-radius: 8px;
}

.stock::after {
  color: red;
  border: 2px solid red;
  /* position: absolute; */
  width: 50px;
  height: 50px;
  top: 50px;
  background-color: red;
}

.stock > * + * {
  margin-top: 0;
  margin-bottom: 0;
}

.stock h2 {
  font-size: var(--s3);
  margin: 0;
}

.stock h3 {
  font-size: var(--s2);
}

.stock p {
  padding: var(--s-1) 0;
}

.stock:focus {
  outline-offset: 0.3rem;
}

.stock:hover {
  cursor: pointer;
  filter: brightness(115%);
}

.stock--capability {
  background-color: var(--capability-colour);
}

.stock--feature {
  background-color: var(--feature-colour);
}

.stock--infrastructure {
  background-color: var(--infrastructure-colour);
}

.stock--infrastructure:focus {
  outline: var(--infrastructure-colour) dashed 2px;
}

.stock--customer-satisfaction {
  background-color: var(--customer-satisfaction-colour);
}

.stock--customer-satisfaction:focus {
  outline: var(--infrastructure-colour) dashed 2px;
}

@media (max-width: 600px) {
  .App {
    max-width: 100%;
  }

  .flow-layout {
    margin: var(--s-2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
  .flow-layout > :nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  .flow-layout > :nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .flow-layout > :nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
  }
  .flow-layout > :nth-child(4) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .stock {
    padding: var(--s-3);
    font-size: var(--s0);
    border: none;
    border-radius: 8px;
  }

  .stock h2 {
    font-size: var(--s2);
    margin: 0;
  }

  .stock h3 {
    font-size: var(--s1);
  }
}
